node_modules
.pnpm-store
.turbo
.next
**/.next
out
dist
.vercel
.data
*.tsbuildinfo
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.env
.env.*
!.env.example
coverage
tmp
/tmp
next-env.d.ts
